* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* hero-section */
.hero-section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.hero-infos {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-left: 32px;
}

/* movies section styles */

.latest,
.action,
.comedy,
.romance {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 300px;
  padding-left: 32px;

  h2 {
    text-align: left;
    font-size: 32px;
    color: rgb(9, 240, 240);
  }
}

.Latest {
  margin-top: 40px;
}

.title-paragraph {
  color: white;
  text-align: center;
  margin-top: 8px;
}

.movies {
  align-items: center;
  gap: 16px;
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

.one {
  display: flex;
  position: relative;
  margin: 0 50px;
  p {
    font-weight: 1000;
    font-size: 280px;
    line-height: 298.34px;
    z-index: 1;
  }
}

.latest-movies img {
  width: 138px;
  height: 178px;
  border-width: 1px;
  border-radius: 12px;
  position: absolute;
  top: 92px;
  left: 80px;
  z-index: 10;
}

.romance-movies img,
.action-movies img,
.comedy-movies img {
  width: 251px;
  height: 171px;
  left: 530px;
  border-width: 1px;
  border-radius: 12px;
}

.over {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  width: 100%;
  text-align: left;
}

/* details pages similar section */
.rep {
  align-items: center; 
  gap: 16px;
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
  padding-left: 32px;

  img {
    width: 217px;
    height: 200px;
  }
}

.more-like {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.title-movie h1 {
  display: flex;
  text-align: left;
  font-family: Verdana, Tahoma,;
  padding-left: 32px;
  /* padding-bottom: 5rem; */
}

.hero-text-details {
  display: flex;
  gap: 10px;
  padding-left: 32px;
  align-items: center;
}

.btn {
  width: 75px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  gap: 10px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  border: none;
}

.details-button {
  display: flex;
  text-align: left;
  padding-left: 32px;
  padding-top: 16px;
}

.details-text {
  display: flex;
  text-align: left;
  padding-left: 32px;
  padding-top: 32px;

  p {
    display: flex;
    font-size: 18px;
  }
}

.more-movies  img{
  width: 301px;
  height: 169px;
  border-radius: 18px;
}

.search-button {
  background-color: blue;
  color: white;
}

/* footer styles */
.footer {
  width: 100%;
  height: 248px;
  background-color: rgb(43, 42, 41);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 32px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  border-bottom: 0.5px solid #b7b3b3;
  height: 30vh;
}

.footer-comp {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p {
    font-size: 15px;
    font-weight: 100;
  }

  h3 {
    font-size: 18px;
  }
}

.ctn-one {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.ctn {
  display: flex;
  flex-direction: column;
}

.button-one {
  width: 130.7px;
  height: 34px;
  border-radius: 20px;
  border: none;
  margin-top: 5px;
  background-color: rgb(252, 251, 251);
}

.footer-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 44px;
  border-radius: 22px;
  background-color: rgb(57, 59, 59);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  gap: 10px;

  a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
  }
}
